/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilos de inicio*/
@import "html/inicio";

/*estilos de productos*/
@import "html/productos";

/*estilos de preguntas*/
@import "html/preguntas";

/*estilos de nosotros*/
@import "html/nosotros";

/*estilos de contacto*/
@import "html/contacto";





