@import "variables.scss";

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

@mixin h1-mobile{
    width: 100%;
    background-color: #767c7e;
    padding: 2rem;
    font-size: 2rem;
    color: whitesmoke;
    margin-top: 7rem;
    text-align: center;
    text-transform: uppercase;    
}

@mixin preguntas{
    font-size: 1.5rem;
    text-decoration: underline;
    color: $color-principal;
    font-weight: 600;
}

